<turbo-frame id="<%= turbo_location %>">
<div class="weather_div">
  <p class="text-left fs-6">Full Forecast for:<br/><%= @location_name %></p>

  <% if @erred %>
    <p class="fs-6">Error Response: <%= @message %></p>
  <% else %>

    <!-- START ALIGNMENT ROW -->
      <!-- Left Column -->
        <div class="table_daily_container">
          <table class="table_daily table">
            <tr>
              <% @forecasts.each do |forecast| %>
                <td class="text-right align-top" style="vertical-align: top;">
                  <div class="d-flex flex-column align-items-right" style="min-height: 120px;width: 100px"> <!-- Adjust height as needed -->
                    <div class="forecast-name text-right mb-2" style="min-height: 3em;"> <!-- Reserve space -->
                      <small><b><%= forecast["name"] %></b></small>
                    </div>
                    <%= image_tag(forecast["icon"], title: forecast["detailedForecast"]) %>
                    <div class="forecast-name text-right mb-2" style="min-height: 3em;"> <!-- Reserve space -->
                      <% temp = forecast["isDaytime"] ? "High #{forecast["temperature"]}" : "Low #{forecast["temperature"]}" %>
                      <% temp_class = forecast["isDaytime"] ? "text-danger" : "text-info" %>
                      <small class="<%= temp_class %>"><b><%= temp %>&deg; <%= forecast["temperatureUnit"] %></b></small><br/>
                      <br/>
                      <small>
                        <%= forecast["shortForecast"] %>
                      </small>
                    </div>
                  </div>
                </td>
              <% end %>
            </tr>
          </table>

        </div>

        <% days = @forecasts.size / 2 %>
        <p class="text-decoration-underline text_only"><i><%= days %> Day Forecast (Day/Night)</i></p>
        <div class="table_weekly_container">
          <table class="table table_aliceblue">
            <% @forecasts.each do |forecast| %>
              <% precipitation = forecast["probabilityOfPrecipitation"] %>
              <tr class="table-primary">
                <td colspan=2><i><%= forecast["name"] %>:</i></td>
              </tr>
              <tr>
                <th rowspan="2"><%= image_tag(forecast["icon"], title: forecast["shortForecast"]) %></th>
                <td>
                  <p><small>
                    <b>In Brief:</b> <%= forecast["shortForecast"] %>, <b>Temp:</b> <%= forecast["temperature"] %>&deg; <%= forecast["temperatureUnit"] %>,
                    <b>Wind Direction:</b> <%= forecast["windDirection"] %>,<br/>
                    <b>Wind Speed:</b> <%= forecast["windSpeed"] %>
                    <b>Chance of Precipitation: </b><%= precipitation["value"] || 0 %>%
                  </small></p>
                </td>
              </tr>
              <tr>
                <td><p><small><%= forecast["detailedForecast"] %></small></p></td>
              </tr>
            <% end %>
          </table>
        </div>
      </div>

  <% end %>
  </turbo-frame>