<turbo-frame id="summary_response">
  <div class="summary_div">
    <p class="fs-6">Summary of Current Weather for: <%= location_name %></p>

    <table class="summary_table">
      <% if summary["from_cache"] %>
        <tr>
          <td colspan="3">Forecast is from cached data</td>
        </tr>
      <% end %>
      <% if erred %>
        <tr>
          <td><%= summary %></td>
        </tr>
      <% else %>
        <tr>
          <td><%= image_tag(summary["icon"], title: summary["detailedForecast"]) %></td>
          <td><p class="fs-3"><%= sprintf("%.0f", summary["high"]) %>&deg; <%= summary["temperatureUnit"] %>
            / <%= sprintf("%.0f", summary["low"]) %>&deg;<%= summary["temperatureUnit"] %></p></td>
          <td><p class="fs-3"><%= summary["windSpeed"] %> <%= summary["windDirection"] %></p></td>
        </tr>
        <tr>
          <td><%= summary["shortForecast"] %></td>
          <td>High / Low:</td>
          <td>Wind MPH:</td>
        </tr>
      <% end %>
    </table>
    <% unless erred %>
      <table class="forecast_btns_table">
        <tr>
          <td>
            <%= button_to "Full Forecast", "full",
                          method: :get,
                          params: { lat: summary["latitude"], long: summary["longitude"], location: location, zip: zip, location_name: location_name },
                          data: { turbo: false },
                          class: "btn btn-primary"
            %></td>
          <td> <%= button_to "text Only Forecast", "text_only",
                             method: :get,
                             params: { lat: summary["latitude"], long: summary["longitude"], location: location, zip: zip, location_name: location_name },
                             data: { turbo: false },
                             class: "btn btn-primary"
          %></td>
        </tr>
      </table>
    <% end %>
  </div>
</turbo-frame>