<turbo-frame id="<%= turbo_location %>">
  <br/>
  <div class="table_geo_container">
    <div class="dual_div">
      <% if @erred %>
        <p class="fs-6">Location Response: <%= @locations %></p>
      <% else %>
        <p class="fs-6">Location Response from: <%= @location %>, Total Locations: <%= @total %></p>
        <table class="table">
          <thead>
          <tr>
            <th scope="col">Location</th>
          </tr>
          </thead>
          <tbody>
          <% @locations.each do |location_hash| %>
            <tr>
              <td><p class="fs-8 geo_formatted"><%= location_hash["formatted"] %><br/>
                <%= form_with url: forecast_dual_full_path, method: :post, local: true do %>
                  <%= hidden_field_tag :location, "Brighton, UT" %>
                  <%= hidden_field_tag :lat, location_hash["geometry"]["lat"] %>
                  <%= hidden_field_tag :long, location_hash["geometry"]["lng"] %>
                  <%= hidden_field_tag :location_name, location_hash["formatted"] %>
                  <%= hidden_field_tag :turbo_location, turbo_location %>

                  <%= submit_tag "Full Forecast", class: "link-button" %> | <%= submit_tag "Text Only Forecast", class: "link-button" %>
                <% end %></p>
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>
      <% end %>

    </div>
  </div>
</turbo-frame>