<turbo-frame id="location_response">
  <br/>
  <%
    erred ||= @erred
    location ||= @location
    locations ||= @locations
    total ||= @total
  %>
  <div class="table_geo_container">
    <div class="summary_div">
      <% if erred %>
        <p class="fs-6">Location Response: No Location found from input. Please check your requested location.</p>
      <% else %>
        <p class="fs-6">Location Response from: <%= location %>, Total Locations: <%= total %></p>
        <table class="table">
          <thead>
          <tr>
            <th scope="col">Location</th>
            <th scope="col">&nbsp;</th>
          </tr>
          </thead>
          <tbody>
          <% locations.each do |location_hash| %>
            <tr>
              <td><p class="fs-8 geo_formatted"><%= location_hash["formatted"] %><br/>
                <%= link_to 'Full Forecast', forecast_full_path(
                  lat: location_hash["geometry"]["lat"],
                  long: location_hash["geometry"]["lng"],
                  location: location,
                  zip: location_hash["components"]["postcode"],
                  location_name: location_hash["formatted"]
                ), data: { turbo: false } %> |
                <%= link_to 'Text Only Forecast',
                            forecast_text_only_path(
                              lat: location_hash["geometry"]["lat"],
                              long: location_hash["geometry"]["lng"],
                              location: location,
                              zip: location_hash["components"]["postcode"],
                              location_name: location_hash["formatted"]
                            ), data: { turbo: false }
                %> |<%= link_to 'Radar Layers',
                                radar_for_locale_web_path(
                                  lat: location_hash["geometry"]["lat"],
                                  lng: location_hash["geometry"]["lng"],
                                  type: 'precipitation'
                                ), data: { turbo: false }
              %> |
                <%= link_to 'Dual Screen Forecasts',
                            forecast_dual_path(
                              lat: location_hash["geometry"]["lat"],
                              long: location_hash["geometry"]["lng"],
                              location: location,
                              zip: location_hash["components"]["postcode"],
                              location_name: location_hash["formatted"]
                            ), data: { turbo: false }
                %></p>
              </td>
              <td>
                <%= button_to "Summary", forecast_summary_path,
                              method: :post,
                              params: {
                                lat: location_hash["geometry"]["lat"],
                                long: location_hash["geometry"]["lng"],
                                location: location,
                                zip: location_hash["components"]["postcode"],
                                location_name: location_hash["formatted"]
                              },
                              form: { data: { turbo_frame: "summary_response" } },
                              class: "btn btn-primary"
                %>
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>
      <% end %>

    </div>
  </div>
</turbo-frame>