<turbo-frame id="location_response">
  <div class="table_mobile_geo_container">
    <%
      erred         ||= @erred
      location      ||= @location
      locations      ||= @locations
      total      ||= @total
    %>
    <div class="mobile_summary_div">
      <% if erred %>
        <p class="fs-6">Location Response: <%= locations %></p>
      <% else %>
        <p class="fs-6">Location Response from: <%= location %>, Total Locations: <%= total %></p>
        <table class="table">
          <thead>
          <tr>
            <th scope="col">Location</th>
          </tr>
          </thead>
          <tbody>
          <% locations.each do |location_hash| %>
            <tr>
              <td><p class="fs-8 geo_formatted"><%= location_hash[:name] %><br/>
                <%= link_to 'Full Forecast', forecast_full_path(
                  lat: location_hash[:lat],
                  long: location_hash[:lng],
                  country_code: location_hash[:country_code],
                  location: location,
                  location_name: location_hash[:name]
                ), data: { turbo: false } %> |
                <%= link_to 'Text Only Forecast',
                            forecast_text_only_path(
                              lat: location_hash[:lat],
                              long: location_hash[:lng],
                              country_code: location_hash[:country_code],
                              location: location,
                              location_name: location_hash[:name]
                            ), data: { turbo: false }
                %> |<%= link_to 'Radar Layers',
                                radar_for_locale_web_path(
                                  lat: location_hash[:lat],
                                  lng: location_hash[:lng],
                                  country_code: location_hash[:country_code],
                                  type: 'precipitation'
                                ), data: { turbo: false }
              %> |
                <%= link_to 'Dual Screen Forecasts',
                            forecast_dual_path(
                              lat: location_hash[:lat],
                              long: location_hash[:lng],
                              country_code: location_hash[:country_code],
                              location: location,
                              location_name: location_hash[:name]
                            ), data: { turbo: false }
                %></p>
              </td>
              <td>
                <%= button_to "Summary", forecast_summary_path,
                              method: :post,
                              params: {
                                lat: location_hash[:lat],
                                long: location_hash[:long],
                                country_code: location_hash[:country_code],
                                location: location,
                                location_name: location_hash[:name]
                              },
                              form: { data: { turbo_frame: "summary_response" } },
                              class: "btn btn-primary"
                %>
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>
      <% end %>

    </div>
  </div>
</turbo-frame>