<!-- app/views/admin/resorts/show.html.erb -->
<h2><%= @resort.resort_name %></h2>
<h3>Parking Profile</h3>
<table class="table">
    <tr id="<%= @profile.id %>">
      <td class="fs-5"><%= @profile.label %></td>
      <td class="fs-5">
        <%= @profile.season %>
      </td>
      <td style="text-align:right;">
        <%= link_to "Edit", admin_edit_parking_profile_path(id: @profile.id), class: "link-offset-2" %>
      </td>
    </tr>
</table>
