<div class="weather_div">
  <p class="text-left fs-4">Whare Pumanawa</p>
  <figcaption class="blockquote-footer text-left">
    <%= t("home.created_by") %>
    <br/>Kia ora : Nau Mai Piki Mai<br/>
    <%= link_to "ðŸ‡³ðŸ‡¿ Te Reo", url_for(locale: :mi) %> |
    <%= link_to "ðŸ‡ºðŸ‡¸ English", url_for(locale: :en) %>
  </figcaption>

</div>

<div class="row">
  <!-- Left Column -->
  <div class="col-md-6">
    <div class="weather_div">

      <p class="text-left fs-6"><%= image_tag "aura_logo_v6_512.png", class: "rounded float-start", alt: "Aura Weather", style: "width: 100px; margin-top: 25px;" %>
        <u class="fs-2"><%= t("home.title") %></u><br/>
        <%= t("home.description") %>
      </p>
      <p class="text-left fs-6" style="margin-left: 110px">
        <%= link_to "â–¶ï¸ #{t("home.google_play")}", "https://play.google.com/store/apps/details?id=com.onrender.pumanawa_kam", target: "_blank" %>
        | OR
        | <%= link_to "ðŸ“² #{t("home.ios")}", "https://apps.apple.com/us/app/aura-weather-forecasts/id6746107396", target: "_blank" %>
      </p>
      <div class="col-md-6" style="margin-left: 150px">
        <ul class="fs-6">
          <% t("home.features").each do |feature| %>
            <li><%= feature %></li>
          <% end %>
        </ul>
      </div>
    </div>
    <figcaption class="blockquote-footer text-left" style="margin-left: 120px">
      <%= t("home.noaa") %>
      <cite title="Source Title"><a href="https://www.noaa.gov/" target="_blank">NOAA.gov</a></cite>,
      <%= t("home.opencage") %>
      <cite title="Source Title"><a href="https://opencagedata.com/" target="_blank">OpenCage</a></cite>
    </figcaption>
  </div>
  <p class="text-left fs-4" style="margin-left: 120px"><u><%= t("home.android_version") %></u></p>
  <%= link_to "â–¶ï¸ #{t("home.google_play")}", "https://play.google.com/store/apps/details?id=com.onrender.pumanawa_kam", target: "_blank", style: "margin-left: 160px; margin-top: -20px; margin-bottom: 15px" %>
  <div style="margin-left: 150px">
    <%= image_tag "Screenshot_20250606-150728_Aura Weather.jpg", class: "rounded", style: "width: 220px" %>
    <%= image_tag "Screenshot_20250606-150745_Aura Weather.jpg", class: "rounded", style: "width: 220px" %>
    <%= image_tag "Screenshot_20250606-150805_Aura Weather.jpg", class: "rounded", style: "width: 220px" %>
    <%= image_tag "Screenshot_20250606-150911_Aura Weather.jpg", class: "rounded", style: "width: 220px" %>
  </div>
  <p class="text-left fs-4" style="margin-left: 120px; margin-top: 20px"><u>ðŸ“² <%= t("home.ios_version") %></u></p>
  <%= link_to "ðŸ“² #{t("home.ios")}", "https://apps.apple.com/us/app/aura-weather-forecasts/id6746107396", target: "_blank", style: "margin-left: 160px; margin-top: -20px; margin-bottom: 15px" %>
  <div style="margin-left: 150px">
    <%= image_tag "Simulator Screenshot - iPhone 16 Pro - 2025-06-06 at 15.58.47.png", class: "rounded", style: "width: 220px" %>
    <%= image_tag "Simulator Screenshot - iPhone 16 Pro - 2025-06-06 at 15.58.24.png", class: "rounded", style: "width: 220px" %>
    <%= image_tag "Simulator Screenshot - iPhone 16 Pro - 2025-06-06 at 15.58.05.png", class: "rounded", style: "width: 220px" %>
    <%= image_tag "Simulator Screenshot - iPhone 16 Pro - 2025-06-06 at 16.02.49.png", class: "rounded", style: "width: 220px" %>
  </div>
</div>
<div class="footer_tag">
  <figcaption class="blockquote-footer text-left" style="margin-top: 100px; margin-bottom: 100px">
    <%= t("home.created_by") %>
    <br/>Kia ora : Nau Mai Piki Mai<br/>
  </figcaption>
</div>
