<div class="weather_div">
  <p class="text-left fs-4">Kam's Stuff</p>
  <figcaption class="blockquote-footer text-left">
    Various Coding Samples and Tools
    <br/>Kia ora : Nau Mai Piki Mai
  </figcaption>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="weather_div">
  <%= @browser %>
    </div>
  </div>
</div>

<div class="row">
  <!-- Left Column -->
  <div class="col-md-6">
    <div class="weather_div">
      <p class="text-left fs-2"><u>Weather Forecaster</u></p>
      <p class="text-left fs-6">
        Local forecast summary with options for a Full Weather and a Text Only Forecast. A seven-day window is
        available in the full and text only forecasts.
      <p class ="text_only">
        View forecasts in two screens: <%= link_to 'Dual Screen Forecasts', forecast_dual_path, data: { turbo: false } %>
      </p>
      <p class ="text_only fs-5">
        Original Forecaster:
        <%= form_with url: forecast_view_path, method: 'GET', class: 'forecast_form text_only', data: { turbo_frame: false }, id: 'location_form' do %>
          <%= text_field_tag :location,
                             params[:location],
                             placeholder: 'Enter city, state or zip I.E: Salt Lake City, UT or 84101',
                             class: 'weather_input' %>
          <%= submit_tag 'Go', class: 'btn btn-primary' %>
        <% end %>
      </p>
    </div>
  </div>
</div>
